<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} | Anaïs Fotsing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  {% include "nav.njk" %}
  <main class="container">
    {{ content | safe }}
  </main>
</body>
</html>

<script>
  const toggle = document.querySelector(".nav-toggle");
  const nav = document.querySelector(".site-nav");

  toggle.addEventListener("click", () => {
    nav.classList.toggle("open");
  });
</script>
