<nav class="site-nav">
    <a href="/" class="logo">Anaïs Fotsing</a>
    <button class="nav-toggle" aria-label="Toggle menu">
      ☰
    </button>

  <div class="nav-links">
    <a href="/projects/">PROJECTS</a>
    <a href="/sketchbook/">SKETCHBOOK</a>
    <a href="/about/">ABOUT ME</a>
  </div>
</nav>
